{% extends '00_nexia_enhance_base.html' %}

{% load static %}
{% load bootstrap5 %}

<!-- Stylesheet from source file -->
{% block css_block %}
    <link rel="stylesheet" href="{% static 'riskregister/css/999_OLD_04_a_risk_library_entry.css' %}">
{% endblock %}


{% block titleblock %}
    Risk Register - import risk register
{% endblock %}

<!-- Main Body -->
{% block bodyblock %}
    <br><br><br>
    <div class="alert alert-success alert-dismissible fade show">
        <strong>Success!</strong> The risk has been created successfully.
        <br><br>
        <p>
            {{ rca_rr_id }}
        </p>
        <a href="{% url 'risk_register_2:risk_reg_home_view' %}">
            <button type="button" class="btn btn-success">Home</button>
        </a>
    </div>

{% endblock %}


<!-- Script from custom source file -->
{% block script_block %}
{% endblock %}
