{% extends '00_nexia_enhance_base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'riskreg/css/03_02_view_deficiencies.css' %}">
{% endblock %}

{% block titleblock %}
    Identified deficiencies
{% endblock %}

{% block bodyblock %}
    {% csrf_token %}
    {% if is_deficiency_exists %}
        <div class="table-responsive" style="overflow: auto; height: 75vh">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #00323C; color: white; font-size: small;">
                        <th>Quality Objective Category</th>
                        <th class="desc_cell">Quality Objective</th>
                        <th>Quality Risk</th>
                        <th>Risk Response</th>

                        <th>Identified deficiency</th>
                        <th>Immediate cause</th>
                        <th>Comments</th>

                        <th>Contributory cause 1</th>
                        <th>Comments</th>

                        <th>Contributory cause 2</th>
                        <th>Comments</th>

                        <th>Contributory cause 3</th>
                        <th>Comments</th>

                        <th>Root cause</th>
                        <th>Comments</th>

                        <th>Is the deficiency severe?</th>
                        <th>Comments</th>

                        <th>Is the deficiency pervasive?</th>
                        <th>Comments</th>

                        <th>Proposed remedial action</th>
                        <th>Comments</th>
                        <th>Status</th>

                        <th>Conclusion</th>
                        <th>Change following remedial action</th>

                        <th>Preparer</th>
                        <th>Sign off date</th>

                        <th>Quality management head sign off</th>
                        <th>Sign off date</th>

                        <th>New risk response</th>

                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for deficiency in deficiencies_dict %}
                    <tr>
                        {#                                <td class="c_tr">{{ deficiency.quality_objective_category }}</td>#}
                        {#                                <td class="o_tr desc_cell">{{ deficiency.quality_objective }}</td>#}
                        {#                                <td class="r_tr desc_cell">{{ deficiency.quality_risk }}</td>#}
                        {#                                <td class="rr_tr">{{ deficiency.risk_response }}</td>#}
                        {##}
                        {#                                <td class="rr_tr">{{ deficiency.identified_deficiency }}</td>#}
                        <td>{{ deficiency.quality_objective_category|safe }}</td>
                        <td>{{ deficiency.quality_objective|safe }}</td>
                        <td>{{ deficiency.quality_risk }}</td>
                        <td>{{ deficiency.risk_response }}</td>

                        <td>{{ deficiency.identified_deficiency }}</td>
                        <td>{{ deficiency.immediate_cause }}</td>
                        <td>{{ deficiency.immediate_cause_reviewer_comments }}</td>

                        <td>{{ deficiency.contributory_cause_1 }}</td>
                        <td>{{ deficiency.contributory_cause_1_reviewer_comments }}</td>

                        <td>{{ deficiency.contributory_cause_2 }}</td>
                        <td>{{ deficiency.contributory_cause_2_reviewer_comments }}</td>

                        <td>{{ deficiency.contributory_cause_3 }}</td>
                        <td>{{ deficiency.contributory_cause_3_reviewer_comments }}</td>

                        <td>{{ deficiency.root_cause }}</td>
                        <td>{{ deficiency.root_cause_reviewer_comments }}</td>

                        <td>{{ deficiency.is_severe }}</td>
                        <td>{{ deficiency.is_severe_comments }}</td>

                        <td>{{ deficiency.is_pervasive }}</td>
                        <td>{{ deficiency.is_pervasive_comments }}</td>

                        <td>{{ deficiency.proposed_remedial_action }}</td>
                        <td>{{ deficiency.proposed_remedial_action_reviewer_comments }}</td>
                        <td>{{ deficiency.proposed_remedial_action_status }}</td>

                        <td>{{ deficiency.remedial_action_conclusion }}</td>
                        <td>{{ deficiency.remedial_action_change }}</td>

                        <td>{{ deficiency.preparer_signature }}</td>
                        <td>{{ deficiency.preparer_signature_date }}</td>

                        <td>{{ deficiency.quality_management_head_signature }}</td>
                        <td>{{ deficiency.quality_management_head_signature_date }}</td>

                        <td class="rr_tr">{{ deficiency.new_risk_response }}</td>

                        <td>
                            <input type="submit" class='btn btn-sm btn-success'
                                   value="Update existing risk response"
                                   name={{ deficiency.identified_deficiency_id }}>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-light"
                               href="{% url 'risk_register_2:edit-deficiency' pk=deficiency.identified_deficiency_id %}">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               href="{% url 'risk_register_2:delete-deficiency' pk=deficiency.identified_deficiency_id %}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h6>There are no deficiencies recorded. Please view the risk register and create a deficiency.</h6>
    {% endif %}
{% endblock %}


{% block script_block %}
{% endblock %}