{% extends '00_nexia_enhance_base.html' %}
{% load static %}

{% block titleblock %}
    Risk Register - Instructions: How to fill out a risk assessment
{% endblock %}

{% block bodyblock %}

    <div class="container-fluid">

        <p>This tool has been designed to assist users of the Mercia Quality Management Manual perform their risk
            assessment as required by ISQM 1, and to identify the quality objectives relevant to their practice, the
            possible quality risks that may exist and the potential responses that could be implemented in response to
            those risks.</p>
        <p></p>
        <p>Within this manual references to ISQM and ISA are to ISQM and ISA as issued by the IAASB.</p>
        <p></p>
        <p>Note that this tool must be tailored to the specific circumstances of the firm. It is not possible to
            conceive of all the possible factors affecting a firm and thus it does not provide a definitive list of all
            the quality objectives, quality risks and potential responses that may exist, and additional items may need
            to be added in order to ensure that the risk assessment process is effective in ensuring that responses are
            implemented that address all significant quality risks that may exist.</p>
        <p></p>
        <p>In this Excel spreadsheet there is a separate tab for each of the 6 categories of quality objectives
            identified by ISQM 1. Additional tabs may be created for further quality objectives that are identified by
            the firm, although this is expected to be rare.</p>
        <p></p>
        <p>Each tab follows the same basic format and is effectively split into three columns:</p>
        <p>· Left column: The precise detail of the quality objective that firm aims to achieve;</p>
        <p>· Central column: The potential quality risks that may exist for each aspect of the quality objective;
            and</p>
        <p>· Right column: The possible responses that could be implemented by the firm in respect of each quality
            risk.</p>
        <p></p>
        <p>The text in the left-hand column that details the quality objectives to be achieved is taken directly from
            the text of ISQM 1. It is recommended that this text is not amended in any way or deleted as being not
            applicable to the firm, as doing so may have an unforeseen adverse impact on the system of quality
            management through the inadvertent removal of part of the objectives. They may though be added to, for any
            additional quality objectives that are identified. </p>
        <p></p>
        <p>The central column contains one or more possible quality risks that may exist for each aspect of the quality
            objective. Although some of these quality risks may be based upon guidance contained in ISQM 1 firms are at
            liberty to amend these quality risks as they think fit to best suit their practice. Quality risks may be
            removed if it is felt that they do not apply to the firm or added to if additional quality risks are
            identified.</p>
        <p></p>
        <p>To assist firms in identifying the quality risks that are relevant to them a system of colour coding has been
            adopted as follows:</p>
        <p>· Quality risks shaded in blue are likely to be relevant to firms of all types, regardless of their size and
            nature, as these relate to aspect of the audit process that will be common to most of not all
            engagements;</p>
        <p>· Quality risks shaded in green are more likely to be relevant to larger firms. For example, this could be
            because there is a large pool of audit principles and staff operating across multiple offices, or because
            the client base comprises a large range of entity types with complex reporting requirements.</p>
        <p>· Quality risks shaded in yellow are more likely to be relevant to smaller firms, with only a few audit
            principles and staff and little variety in the client base that present few complex issues.</p>
        <p></p>
        <p>Note that this system of colour coding is presented as a guide only and should be relied upon. It is
            recommended that all quality risks are considered to determine if they are relevant to the firm. For
            example, just because a firm is small it doesn’t necessary follow that it only acts for non-complex clients,
            and quality risks identified as being relevant to larger firms may equally be relevant to such smaller
            firms.</p>
        <p></p>
        <p>Lastly the right-hand column list possible responses that a firm may wish to implement for each quality risk.
            It is probable that the greatest amount of tailoring will be requires here, to best reflect the precise
            controls and procedures relevant to the firm, its personnel and systems, and the audit methodology adopted.
            Again, firms may find it appropriate to delete responses that are not considered appropriate to their
            circumstances, or to introduce alternative responses that better reflect their position.</p>
        <p></p>
        <p>ISQM 1 and certain other standards do though set out a number of mandatory responses that should be
            implemented by all firms unless they are deemed irrelevant to their practice. These responses are
            highlighted in red, and care should be taken before any of these responses are amended or deleted in order
            to ensure that firms comply with the requirements of the regulatory framework.</p>
        <p></p>
        <p>Users of the Mercia audit methodology will find that it contains a number of forms and procedures that will
            assist with completion of these responses, and these are highlighted here, as are other ways in which Mercia
            can assist with implementing your system of quality management.</p>

    </div>

{% endblock %}